*,
*::after,
*::before
{
  box-sizing: border-box;
}
body {
  
  background-image: url(/images/army_camouflage_white.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  padding-left: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.body {
  
      font-family: "Russo One", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 17px;
      color: #131313;
}

.container{
  max-width: 1220 px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  margin-right: 70px;
  
}
.menu__list{
  display: flex;
}
.menu__item + .menu__item{
  padding-left: 10px;

}
.menu__link{
  text-transform: uppercase;
  padding: 40px 20px;
  transition: all .3s;
}
.menu__link:hover {
  background-color: #131313;
  color: #fff;
}

/*----------bike-------------*/
.bike {
 /*padding: 100px 0 150px;*/
padding: 100px 0 100px;
}
  .bike__inner {
    display: flex;
    justify-content: space-between;
  }
  .bike__column-slider{
    flex-basis: 630px;
    margin-left: 30px;
    max-width: 630px;
  }

  .bike__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin: 40px 0 5px;
  }

  .bike__subtitle {
    margin: 0 0 60px;
    font-weight: 500;
    font-size: 34px;
    line-height: 39px;
    color: #3e3e3e;
  }

  .bike__text {
    margin-bottom: 20px;
  }
 .bike_link {
   margin-top: 80px;
   display: inline-block;
   background-color: #131313;
   color: #ffff;
   padding: 28px 71px 28px 81px;
   text-transform: uppercase;
   font-size: 22;
   line-height: 24px;
   letter-spacing: 1.1em;
   transition: all .3s;
 }

 .bike_link:hover {
   background-color: #666665;
   color: #131313;
 }
/*-----Info-----------------*/
.info {
  margin-bottom: 100px;
}

.info__inner {
  display: flex;
}

.info__img {
  margin-right: 50px;
  flex-basis: 570px;
  object-fit: cover;
}

.info__list {
  flex-basis: 490px;
}

.info__item+.info__item {
  padding-top: 40px;
}

.info__item-title {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.info__item-text {
  max-width: 450px;
}

/*-----Footer--------------*/
.footer {
  background-color: #131313;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  

}

.footer__link {
  color: #ffff;
  text-decoration: underline;
  font-size: 12px;
  line-height: 15px;
}

.footer__social {
  align-items: center;
}

.footer__social-link+.footer__social-link {
  margin-left: 10px;
}

.footer__contacts {
  color: #ffff;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
}

.footer__contacts-link+.footer__contacts-link {
  margin-bottom: 10px;
}

.footer__contacts-img {
  padding-top: 5px;
  margin-right: 10px;

}

.name {

  text-align: center;
  font-size: 12px;
}

.footer-copyright {
  margin-bottom: 25px;
  margin-right: 35px;
  color: #ffff;
  padding-bottom: 15px;
  
}
