*,
*::after,
*::before
{
  box-sizing: border-box;
}
body {
  
  background-image: url(/images/army_camouflage_white.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  padding-left: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
  
  
}

.container{
  max-width: 1220 px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  margin-right: 70px;
  
}
.menu__list{
  display: flex;
}
.menu__item + .menu__item{
  padding-left: 10px;

}
.menu__link{
  text-transform: uppercase;
  padding: 40px 20px;
  transition: all .3s;
}
.menu__link:hover {
  background-color: #131313;
  color: #fff;
}

/*----------bike-------------*/
